html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    padding: 12px 24px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.6s, color 0.3s;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    transition: all .6s ease-in-out;
    color: rgb(0, 0, 0);
}

.button .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    opacity: 0;
    visibility: hidden;
}
  
.button.loading .preloader {
    opacity: 1;
    visibility: visible;
}
  
.button .button-text {
    transition: opacity 0.3s;
}
  
.button.loading .button-text {
    opacity: 0;
}
  
@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}