html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    padding: 20px;
  }
  
  button {
    outline: none;
    color: red;
    background-color: blue;
    font-size: 20px;
    border-radius: 15%;
  }
  button span {
    font-weight: bold;
  }
  